/* universal */
*{
  margin: 0
}
li{
  list-style: none
}

p{
  margin: 0;
}

h2{
  margin:0;
}

/************
 home page
************/

/************
    NAV
************/
.nav{
  display: flex;
  flex-direction: column;
  padding: 10px 5%;
  text-align: center;
  background:#d4d6d8;
}

.nav .logo{
  text-align: center;
}

.logo a, .link-item{
  color:black;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
}

.nav .nav-list .link-item{
  font-size: 24px;
}

.nav-list{
  display: flex;
  flex-direction: column;
  padding: 0;
}

/************
 HeaderPhoto
************/
#header{
  position: relative;
}
#header:before{
  content: '';
  background: rgba(255, 255, 255, 0.25);
  width: 100%;
  height: 100%;
  position: absolute;
}

.headerphoto{
  background: url('../img/photo.jpg');
  background-size:cover;
  background-position: center top;
  width: 100%;
  min-height:calc(75vh)
}

/************
 dev section
************/
#skills{
  background: #d4d6d8;
  text-align: center;
  padding: 15px 0;
}
.devimg{
  width:10%;
}

.other-skills{
  font-size: 25px;
}

/************
 portfolio
************/
.section-head{
  text-align: center;
  padding: 15px 0;
  text-decoration: underline;
  background: #white;
}

#portfolio{
  padding-bottom: 50px;
  background: white;
}

.project-container1, .project-container2{
  display: flex;
  justify-content: space-around;
}

.project-photos{
  width: 100%;
  margin-bottom: 10px;
}
.project-descriptions{
  width: 30%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 15px;
  box-shadow: 5px 5px 10px #888;
  background: #d4d6d8;
}
.project-container p.project-links{
  margin: 0 auto 5px;
  font-size: 200px;
  text-align: center;
}

.project-p{
  display: none;
}

/*
.project-container .project-descriptions p.project-p{
  font-size: 14px;
  font-family: georgia, sans-serif;
  text-align: center;
}*/
.project-container .project-descriptions .project-photos{
  margin: 0 auto;
}

/************
   Photos
************/
#photo-bg{
  width: 100%;
  height: 200px;
  background-image: url("../img/wedding.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}


#photos{
  margin: 20px 0;
}

#photos .photo-description p{
  text-align: center;
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
}

#photos .photo-description p


/************
 About
************/
#about-section{
  padding: 15px 0;
}

#about-me, #about-section, #contact{
  background: #d4d6d8;
}

.about-p{
  margin: 0 20px;
  font-size: 20px;
  font-weight: lighter;
  font-family: 'Source Sans Pro', sans-serif;
}

.about-pic{
  width: 25%;
  display: block;
  margin: 0 auto 15px;
  box-shadow: 10px 10px 10px #888;
}

/********************
     FOOTER
********************/

footer{
  background: #d4d6d8;
  text-align: center;
  padding: 20px 0 20px;
}
footer .social-media-icons{
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  color: black;
}
.fa:before{
  color: black;
}
#footer-hr{
  width: 50%;
  margin: 10px auto;
  border: 1px solid black;
}
footer .info p{
  color:black;
  font: 20px georgia, sans-serif
}

/********************
 portfolio queries
********************/

@media (min-width: 850px) {
  /************
   main page
  ************/

  /************
      NAV
  ************/
  .nav{
    flex-direction: row;
    justify-content: space-around;
  }

  .nav .logo{
    margin-right: auto;
  }

  .nav .nav-list{
    flex-direction: row;
    justify-content: space-around;
  }

  .nav .nav-list .link-item{
    margin: 0 15px;
  }

  /************
     about
  ************/
  #about-section{
    display: flex;
    align-items: flex-start;
    padding-left: 20px;
  }

  /************
   portfolio
  ************/
  #portfolio{
    display: flex;
  }

  .project-descriptions{
    display: flex;
    align-items: center;
    width:45%;
    margin: 0 20px 10px;
  }
  .project-photos{
    width: 100%;
  }
  .project-container{
    display: inline-block;
  }

  .project-p{
    display: inherit;
  }

  /************
   Phtoos
  ************/
  #photo-bg{
    height: 400px;
  }

}
