/* universal */
*{
  margin: 0
}
li{
  list-style: none
}

p{
  margin: 0;
}

h2{
  margin:0;
}

#skills, .project-descriptions,
#contact, footer{
  background: #d4d6d8;
}

#about-me, #about-section, #portfolio{
  background: white
}

/************
 home page
************/

/************
    NAV
************/
.nav{
  display: flex;
  flex-direction: column;
  padding: 10px 5%;
  text-align: center;
  background:#262728;
}

.nav .logo{
  text-align: center;
}


.logo, .link-item{
  color:white;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
}

.nav .nav-list .link-item{
  font-size: 24px;
}

.nav-list{
  display: flex;
  flex-direction: column;
  padding: 0;
}

.link-item:hover{
  color:#fff884
}

/************
 dev section
************/
#skills{
  padding-bottom: 20px;
}
.primary-head{
  background: #d4d6d8;
}
.skillphoto{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 15px 0;
}
.devimg{
  display: none;
}

.other-skills, .primary-skills{
  text-align: center;
  font-size: 25px;
}

/************
 portfolio
************/
.section-head{
  text-align: center;
  padding: 15px 0;
  text-decoration: underline;
}

#portfolio{
  padding-bottom: 50px;
}

.project-container{
  margin-bottom: 30px;
  margin-top:30px;
  display: flex;
  justify-content: space-around;
}

.project-photos{
  width: 100%;
  margin-bottom: 10px;
}

.project-descriptions{
  width: 30%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 15px;
  box-shadow: 5px 5px 10px #888;
  border: 10px solid #d4d6d8;
}

.project-p{
  display: none;
}

.project-p, .project-name{
  font-family: 'Source Sans Pro', sans-serif;
}

.project-name{
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 500;
  text-decoration: underline;
}

.project-links a{
  font-size: 18px;
  display: block;
}


/************
   Photos
************/
#photo-bg{
  width: 100%;
  height: 200px;
  background-image: url("../img/wedding.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#photos{
  margin: 20px 0;
}

.photo-description{
  width: 90%;
  margin:auto;
}

#photos .photo-description p{
  text-align: center;
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
}

.photo-links{
  font-size: 28px;
}

/************
 About
************/
#about-section{
  padding: 15px 0;
}

.about-p{
  margin: 0 20px;
  font-size: 20px;
  font-weight: lighter;
  font-family: 'Source Sans Pro', sans-serif;
}

.about-pic{
  width: 15%;
  display: block;
  margin: 0 auto 15px;
  box-shadow: 10px 10px 10px #888;
}
/********************
     Contact
********************/
.contact{
  background: #d4d6d8;
  text-align: center;
}

.contact p{
  font-size: 24px;
}



/********************
     FOOTER
********************/

footer{
  text-align: center;
  padding: 20px 0 20px;
}
footer .social-media-icons{
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  color: black;
}
.fa:before{
  color: black;
}
#footer-hr{
  width: 50%;
  margin: 10px auto;
  border: 1px solid black;
}
footer .info p{
  color:black;
  font: 20px georgia, sans-serif
}

/********************
 portfolio queries
********************/

@media (min-width: 850px) {
  /************
   main page
  ************/

  /************
      NAV
  ************/
  .nav{
    flex-direction: row;
    justify-content: space-around;
  }

  .nav .logo{
    margin-right: auto;
  }

  .nav .nav-list{
    flex-direction: row;
    justify-content: space-around;
  }

  .nav .nav-list .link-item{
    margin: 0 15px;
  }

  /************
     about
  ************/
  #about-section{
    display: flex;
    align-items: flex-start;
    padding-left: 20px;
  }

  /************
   skills
  ************/
  .devimg{
    display: inherit;
    width: 6%;
  }

  .ux{
    width: 8%;
  }

  .invision{
    width: 12%;
  }

  .primary-skills{
    display: none;
  }

  /************
   portfolio
  ************/
  #portfolio{
    /*display: flex;*/
  }

  .project-descriptions{
    display: flex;
    align-items: center;
    width:35%;
    margin: 0 20px 10px;
  }
  .project-photos{
    width: 100%;
  }

  .project-p{
    font-size: 20px;
    display: inherit;
  }

  .project-links a{
    display: inline-block;
  }

  /************
   Phtoos
  ************/
  #photo-bg{
    height: 400px;
  }

}
