/* UNIVERSAL */
*{
  margin: 0;
}

html{
  height: 100%
}

body{
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* nav */
nav{
  display: flex;
  justify-content: space-around;
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 20px 0;
  background-color: rgba(130,130,130, 0.5);
}

nav li{
  display: inline-block;
  list-style: none;
  color: white;
  font-size: 30px;
  font-family: 'Lato', sans-serif;
}

/* footer */

footer{
  background: black;
  padding:10px 0 20px;
  text-align: center;
}

footer .social-media-icons{
  margin: auto;
  padding-bottom: 10px;
  width: 30%;
  border-bottom: 1px solid grey
}

footer a{
  color: white;
}
footer div p{
  color: white;
}

.github{
  margin-right: 30px;
}

.twitter{
  margin: 0 30px;
}

.linkedin{
  margin-left: 30px;
}

.info p{
  margin: 0;
}
/* UNIVERSAL END */


/* HOME PAGE START */
#first-image{
  width: 100%;
  height: calc(100vh);
  background: url('../img/photo.jpg');
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

#first-image:before{
  content: '';
  background: rgba(232, 232, 232, 0.5);
  width: 100%;
  height: 100%;
  position:absolute;
}

#about-me{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  vertical-align: middle;
}

/* about section */
#about-me p{
  font-size: 30px;
}

#about-section{
  background-color: #E8E8E8;
  padding-top: 20px 0;
}
#about-section img{
  width: 20%;
  display: inline-block;
  align-self: center;
}

#about-section div{
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}

#about-section div p{
  width: 40%
}
/* HOME PAGE END */

/* PORTFOLIO START */
.projects{
  margin-top:83px;
}

.project-photos{
  min-width: 350px;
  height: 200px;
  margin-bottom: 10px;
}
.projects .project-links{
  border-bottom: 1px solid grey;
}

.project-descriptions{
  display: flex;
}

.project-descriptions p{
  width: 40%;
  margin-left: 40px;
}

#trivia{
  background: url("../img/simpsons.png");
  background-size: cover;
}

#boi{
  background: url("../img/boi.png");
  background-size: cover;
}
#feedme{
  background: url("../img/feedme.png");
  background-size: cover;
}

#anchor-armor{
  background: url("../img/aa.png");
  background-size: cover;
}

/* PORTFOLIO END*/


/* CONTACT START */
.sticky-footer{
  flex-grow: 1;
}

#contact-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 83px;
}

#contact-container #contact-info{
  display: flex;
  flex-direction: column;
  width: 300px;
}
#contact-container #contact-info p{
  font-size: 20px;
  font-family: helvetica, sans-serif;

}

#contact-img{
  width: 20%;
  align-self: flex-start;
  margin-right: 75px;
}
/* CONTACT END */
