/* UNIVERSAL */
*{
  margin: 0;
}

/* nav */
nav{
  display: flex;
}

nav li{
  list-style: none;
}

/* footer */

footer{
  background: black;
  padding:10px 0 20px;
  text-align: center;
}

footer .social-media-icons{
  margin: auto;
  padding-bottom: 10px;
  width: 50%;
  border-bottom: 1px solid grey
}

footer a{
  color: white;
}

.github{
  margin-right: 30px;
}

.twitter{
  margin-left: 30px;
}

.info p{
  margin: 0;
}
/* UNIVERSAL END */


/* HOME PAGE START */
#first-image{
  width: 100%;
  height: calc(100vh);
  background: url('../img/photo.jpg');
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

#first-image:before{
  content: '';
  background: rgba(232, 232, 232, 0.5);
  width: 100%;
  height: 100%;
  position:absolute;
}

#about-me{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  background-color: lightblue;
  vertical-align: middle;
}

/* about section */
#about-me p{
  font-size: 30px;
}

#about-section{
  background-color: #E8E8E8;
  padding-top: 20px 0;
}
#about-section img{
  width: 20%;
  display: inline-block;
  align-self: center;
}

#about-section div{
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}

#about-section div p{
  width: 40%
}
/* HOME PAGE END */

/* PORTFOLIO START */

.project-photos{
  width: 350px;
  height: 200px;
  margin-bottom: 10px;
  border-bottom: 
}

#trivia{
  background: url("../img/simpsons.png");
  background-size: cover;
}

#boi{
  background: url("../img/boi.png");
  background-size: cover;
}
#feedme{
  background: url("../img/feedme.png");
  background-size: cover;
}

/* PORTFOLIO END*/
